body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img {
  display: block;
    margin-left: auto;
    margin-right: auto;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #FFE133;
}

figcaption {
  font-size: small;
  text-align: center;
}

/*NEED TO FIX THIS SECTION*/

section#featured-property p {
  display: block;
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

section#details div {
  float: left;
  width: 25%;
  text-align: center;
  background-color: #FFE133;

}

